<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <h2 class="text-center">Settings</h2>
    <h3>Food Exclusions</h3>
    <div x-dynamic-list
         data-collection="getFoods()"
         data-elements="getFoodExclusions()"
         data-add-fn="addFoodExclusion(element)"
         data-remove-fn="removeFoodExclusion(element)"
         data-placeholder="Enter a food exclusion..."
         data-button="Add exclusion"></div>
    <h3>Food Tag Exclusions</h3>
    <div x-dynamic-list
         data-collection="getTags()"
         data-elements="getFoodTagExclusions()"
         data-add-fn="addFoodTagExclusion(element)"
         data-remove-fn="removeFoodTagExclusion(element)"
         data-placeholder="Enter a food tag exclusion..."
         data-button="Add exclusion"></div>
  </div>
</div>