<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title">Ingredients <span class="badge pull-right" ng-bind="numTotalIngredients"></span></h4>
      </div>
      <div class="panel-body">
        <div x-dynamic-list
             data-collection="getIngredients()"
             data-elements="getSelectedIngredients()"
             data-add-fn="addSelectedIngredient(element)"
             data-remove-fn="removeSelectedIngredient(element)"></div>
      </div>
      <div class="list-group">
        <a class="list-group-item" href
           ng-repeat="ingredient in ingredients | orderBy: '-count'" ng-click="addSelectedIngredient(ingredient)">
          <!-- TODO: Is there a way to just bind frequency once? The "::" syntax doesn't seem to work... -->
          <span class="badge badge-success">{{ frequency(ingredient) }}%</span>
          <span>{{ ingredient.name }}</span>
          <span class="label label-success" ng-repeat="tag in ::ingredient._tags">{{ tag.name }}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title">
          Dishes with Ingredient <span class="badge pull-right" ng-bind="matchingDishes.length"></span>
        </h4>
      </div>
      <div class="panel-body" ng-hide="hasSelectedIngredients">
        <span class="text-center">Select an ingredient</span>
      </div>
      <div class="list-group" ng-show="hasSelectedIngredients">
        <a class="list-group-item"
           ng-repeat="dish in matchingDishes | orderBy: 'name'"
           ng-click="setSelectedDish(dish)"
           ui-sref="meals.dishes">{{ dish.name }}</a>
      </div>
    </div>
  </div>
</div>