<div class="component--food-match-list">
  <ol class="breadcrumb">
    <li>
      <a href ui-sref="meals.foods.list">Foods</a>
    </li>
    <li class="active">Matching Recipes</li>
  </ol>
  <div class="panel">
    <div class="panel-heading">
      <!--<h4 class="panel-title">
        Recipes with Food <span class="badge pull-right" ng-bind="matchingRecipes.length"></span>
      </h4>-->
    </div>
    <div class="panel-body" ng-hide="hasSelectedFoods">
      <span class="text-center">No matching recipes</span>
    </div>
    <div class="list-group" ng-show="hasSelectedFoods">
      <a class="list-group-item"
         ng-repeat="recipe in matchingRecipes | orderBy: 'name'"
         ng-click="setSelectedRecipe(recipe)"
         ui-sref="meals.recipes.detail({recipeId: recipe.id})">{{ recipe.name }}</a>
    </div>
  </div>
</div>