<div class="component--dynamic-list">
  <div class="input-group">
    <input class="form-control" type="text" placeholder="Enter element name..." ng-model="name"
           ng-keypress="onKeyPressed($event)">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="addElement(name)">Add element</button>
    </span>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="element in getElements()">
      <span>{{ element.name }}</span>
      <span class="close pull-right" ng-click="removeElement(element)">&times;</span>
    </li>
  </ul>
</div>