<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Ingredient List</h4>
  </div>
  <!--<div class="panel-body">
    <div x-pillbox data-tag-list="ingredients" data-exclusions="exclusions"></div>
    <form class="form-inline" novalidate>
      <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="filter" ng-click="filterAll()" checked> All
        </label>
        <label class="radio-inline">
          <input type="radio" name="filter" ng-click="filterMost()"> Most frequently used
        </label>
        <label class="radio-inline">
          <input type="radio" name="filter" ng-click="filterLeast()"> Least frequently used
        </label>
      </div>
    </form>
  </div>-->
  <table class="table table-hover selectable-table">
    <thead>
    <tr>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-hide="hasIngredients()">
      <td class="text-center">No ingredients</td>
    </tr>
    <tr ng-repeat="ingredient in getIngredients() | orderBy: 'name'"
        ng-class="{active: isSelectedIngredient(ingredient)}"
        ng-click="setSelectedIngredient(ingredient)"
        ng-show="hasIngredients()">
      <td>{{ ingredient.name | title }}</td>
    </tr>
    </tbody>
  </table>
</div>