<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Ingredient List</h4>
  </div>
  <table class="table table-hover selectable-table">
    <thead>
    <tr>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-hide="hasIngredients()">
      <td class="text-center">No ingredients</td>
    </tr>
    <tr ng-repeat="ingredient in getIngredients() | orderBy: 'name'"
        ng-class="{active: isSelectedIngredient(ingredient)}"
        ng-click="setSelectedIngredient(ingredient)"
        ng-show="hasIngredients()">
      <td>{{ ingredient.name | title }}</td>
    </tr>
    </tbody>
  </table>
</div>