<div class="row">
  <div class="col-lg-6">

    <!-- Available ingredients -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title">Available Ingredients <span class="badge pull-right" ng-bind="numAvailableIngredients"></span></h4>
      </div>
      <div class="panel-body">
        <div x-dynamic-list
             data-collection="getAvailableIngredients()"
             data-elements="getSelectedIngredients()"
             data-add-fn="moveAvailableIngredient(element)"
             data-remove-fn="emptyMethod(element)"></div>
      </div>
      <div class="list-group">
        <a class="list-group-item" href
           ng-repeat="ingredient in availableIngredients | orderBy: '-count'" ng-click="moveAvailableIngredient(ingredient)">
          <span>{{ ingredient.name }}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-6">

    <!-- Pantry ingredients -->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title">Pantry Ingredients <span class="badge pull-right" ng-bind="numPantryIngredients"></span></h4>
      </div>
      <div class="panel-body">
        <div x-dynamic-list
             data-collection="getPantryIngredients()"
             data-elements="getSelectedIngredients()"
             data-add-fn="movePantryIngredient(element)"
             data-remove-fn="emptyMethod(element)"></div>
      </div>
      <div class="list-group">
        <a class="list-group-item" href
           ng-repeat="ingredient in pantryIngredients | orderBy: '-count'" ng-click="movePantryIngredient(ingredient)">
          <span>{{ ingredient.name }}</span>
        </a>
      </div>
    </div>

  </div>
</div>